# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
.vscode

*.vcxproj
*.pdb
*.ilk
*.tlog
*.sln

CMakeSettings.json
CMakeFiles
cmake_install.cmake
Makefile
out

# CLion
.idea
cmake-build-debug
cmake-build-release

*.DS_Store  
build

*/main_ans.cpp
/x64/Debug
/external/glfwlib
/ZERO_CHECK.vcxproj.filters
/INSTALL.vcxproj.filters
/CMakeCache.txt
/ALL_BUILD.vcxproj.user
/ALL_BUILD.vcxproj.filters
/task00/task00.dir/Debug
/task00/task00.vcxproj.user
/task00/task00.vcxproj.filters
/task00/INSTALL.vcxproj.filters
/task00/ALL_BUILD.vcxproj.filters
